<!-- This section needs to be made dynamic once we have a solution to the sessions and last visited items... -->
<% for( let index=0; index < 4; index++ ) { %>
	<article class="col col-md-4 col-lg-3 mb-4">
		<a class="card-link" href="/vehicle/item">
			<div class="card h-100">
				<img src="http://3.bp.blogspot.com/-DeAdLe_GdG4/TbjC5fZSYRI/AAAAAAAAA5k/0xuwxugbkjY/s1600/jaguar+cars+%252894%2529.jpg"
					class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title">$ 0.000.000</h5>
					<div class="card-details">
						<div class="row">
							<div class="col">
								<p class="card-text bold">Marca</p>
							</div>
							<div class="col">
								<p class="card-text bold">Modelo</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p class="card-text">Versión</p>
							</div>
							<div class="col">
								<p class="card-text">Año</p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<p class="card-text">Ubicación</p>
							</div>
							<div class="col">
								<p class="card-text">Vendedor</p>
							</div>
						</div>
					</div>
					<p class="card-text bold">100.000 kms</p>
				</div>
			</div>
		</a>
	</article>
	<% } %>