.cart-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 5px 0;
  padding-bottom: 5px;
}

.cart-item-image {
  width: 30%;
  align-items: center;
}

.cart-item-image img {
  width: 100%;
}

.cart-item-details-container {
  width: 40%;
}

.cart-item-title {
  padding-top: 5px;
}

.cart-item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item-quantity-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cart-item-quantity input {
  width: 50px;
}

.cart-item-price {
  margin-top: 20px;
  color: #cf2a2a;
  font-weight: bold;
}

.cart-item-shipping-price {
  color: #cf2a2a;
}

.cart-item-seller {
  font-style: italic;
}

.cart-item button {
  margin-left: 40%;
}

.cart-footer {
  position: fixed;
  bottom: 0;
  padding: 15px 10px;
  background-color: #333333;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-footer-price {
  color: #cf2a2a;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}

.cart-footer button {
  margin-left: 20px;
}
