/*css styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body{
	background-color: #e5e5e5;
}

/*CAROUSEL*/

.container-1{
	background-color: white;
	border: solid 1px #8c8c8c;
	margin:  40px 40px;
	border-radius: 10px;
	padding: 20px 70px;
	display: flex;
	justify-content: space-between;	
}

/*carousel card*/

.carousel-card{
	border: solid 1px #8c8c8c;
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
	width: 270px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
.carousel-card-image{
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}
.carousel-card-model{
	font-weight: bold;
	padding: 7px;
	margin-top: 60px;
	height: 100%;
	
}
.carousel-card-price{
	color:#dc3545;
	padding: 7px;
	height: 100%;	
}

/*SEARCH RESULTS*/

.container-2{
	display: flex;
	justify-content: space-betwee;
	padding: 0px 80px;
	margin-bottom: 20px;
}

/*filtros*/

.form-group{
	display: flex;
	flex-direction: column;
	justify-content: start;
}
#inputTipo{
	background-color: #e5e5e5;
	border: none;
	width: 270px;
	padding-top: 18px;
	font-size: 20px;
	color: #5e5e5e;
	border-bottom: solid 1px #8c8c8c
}
.container-mobile{
	display: none;
}


/*search grid*/

.search-grid-1{
	display: flex;
	flex-direction: column;
}
.search-grid-2{
	display: flex;
	flex-direction: column;
}
.search-grid-3{
	display: flex;
	flex-direction: column;
}
.search-grid-card{
	border: solid 1px #8c8c8c;
	border-radius: 5px;
	overflow: hidden;
	height: 300px;
	width: 300px;
	margin: 5px 5px;
	display: flex;
	flex-direction: column;
	background-color: white;
}
.search-grid-card-body{
	padding: 7px;
}
.search-grid-card-img{
	width: 100%;
	box-sizing: content-box;
}
.search-grid-card-text1{
	color: #dc3545
}

@media (max-width: 425px) {

	/*CAROUSEL*/
	
	.container-1{
		padding: 0%;
		margin-top: 7px;
		margin-left: 7px;
		margin-right: 7px;
		margin-bottom: 2px;
		overflow: hidden;
	}
	.carousel-card-1{
		width: 100%;
	
		border: none;
	}
	.carousel-card-2 {
		display: none;
	}
	.carousel-card-3{
		display: none;
	}
	.carousel-card-4{
		display: none;
	}

	/*SEARCH RESULTS*/

	.container-2{
		display: flex;
		flex-direction: column;
		padding: 40px 0px;
		
	}

	/*filtros*/

	.form-group{
		display: none;
	}
	.container-mobile{
		display: flex;
		justify-content: space-between;
		background-color: white;
	}
	#inputTipo{
		background-color: white;
		border: none;
		width: 80px;
		font-size: 12px;
		color: #5e5e5e;
		text-align: center;
		padding: 0;
	}
	.search-results{
		font-size: 12px;
		padding: 5px;
		color: #8c8c8c ;
	}

	/*search grid*/
	
	.search-grid-card{
		flex-direction: row;
		width: 100%;
		background-color: white;
		border-radius: 0;
		height: auto;
		margin: 0;
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.search-grid-card-first{
		display: flex;
		width: 100%;
		background-color: white;
		border-radius: 0;
		height: auto;
		margin: 0;
		border-left: none;
		border-right: none;
		border-top: solid 1px #8c8c8c;
		border-bottom: solid 1px #8c8c8c;
		
		
	}
	.search-grid-card-img{
		width: 34%;
		box-sizing: content-box;
		padding: 20px;
	}
	.search-grid-card-body{
		width: 70%;
		box-sizing: content-box;
		padding: 17px;
	}

}

















	/*LAPTOM MEDIA*/

	@media (min-width: 1200px){
		.container1{
			max-width: 1200px;
			margin: auto;
		}
		
	}





