/*css styles*/
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

body {
  background-color: #e5e5e5;
}

main {
  max-width: 1200px;
  margin:auto;
}

.inline {
  display: inline;
}

.stripped {
  text-decoration: line-through;
  font-size: 14px;
  color: #666;
}

/* Category Bar */

/* SearchBar */
