/* Nav-Bar */
.navbar {
  background-color: #333333;
}
.logo {
  max-width: 100px;
  margin-right: 10px;
  display: none;
}
.logo img {
  width: 100%;
}
.nav-btn {
  background-color: #333333;
  border: none;
  color: rgba(255, 255, 255, 0.55);
  display: block;
  font-size: 1rem;
}
a.nav-item {
  text-decoration: none;
}
button > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}
button > a:hover {
  color: rgba(255, 255, 255, 0.55);
}
.nav-icon-description {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 1rem;
}
.navbar-toggler {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.dropdown-menu {
  background-color: #333333;
}
.dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}
.nav-icon-cart {
  margin-right: 10px;
}