<% let styles = ['<link rel="stylesheet" href="/css/styles-header.css"/>', '<link rel="stylesheet" href="/css/styles-footer.css"/>', '<link rel="stylesheet" href="/css/styles-mediaquery-medium-large.css" media="(min-width: 768px"/>', '<link rel="stylesheet" href="/css/productStyles.css"/>', '<link rel="stylesheet" href="/css/productStyles-mediaQuery.css" media="(min-width: 768px"/>'] %> 
<%- include("./partials/head", {"styles": styles}) %> 
<%- include("./partials/header") %>
</body>
</html>